*.o
*.vscode
*.DS_Store*

# Day 00
Day 00/ex00/megaphone
Day 00/ex01/PhoneBook
Day 00/ex02/account

# Day 01
Day 01/ex00/pony
Day 01/ex01/leak
Day 01/ex02/zombie
Day 01/ex03/horde
Day 01/ex04/ex04
Day 01/ex05/brain
Day 01/ex06/weapon
Day 01/ex07/files/
Day 01/ex07/replace
Day 01/ex08/human
Day 01/ex09/logger
Day 01/ex09/*.log
Day 01/ex10/cato9tails

# Day 02
Day 02/*/fixed
Day 02/ex04/eval_expr

# Day 03
Day 03/ex00/fragTrap
Day 03/ex01/scavTrap
Day 03/ex02/clapTrap
Day 03/ex03/ninjaTrap
Day 03/ex04/superTrap

# Day 04
Day 04/ex00/sorcerer
Day 04/ex01/weapon
Day 04/ex02/squad
Day 04/ex03/materia
Day 04/ex04/mining

# Day 05
Day 05/*/*_shrubbery
Day 05/ex00/bureaucrat
Day 05/ex01/bureaucrat
Day 05/ex02/bureaucrat
Day 05/ex03/bureaucrat
Day 05/ex04/bureaucrat
Day 05/ex05/bureaucrat

# Day 06
Day 06/ex00/cast
Day 06/ex01/serialize
Day 06/ex02/identify

# Day 07
Day 07/ex00/identify
Day 07/ex01/identify
Day 07/ex02/array